<nav class="navbar navbar-dark fixed-top home-page-nav navbar-custom">
  <div class="container"><a class="navbar-brand" href="#" target="_top" style="margin: auto;">Top Subreddit Viewer</a>
  </div>
</nav>
<app-search-bar (searchTerm)="getSearchResults($event);"></app-search-bar>
<a *ngIf="subreddit !== undefined" class="subreddit-title" href="https://www.reddit.com/r/{{subreddit}}" target="_blank"
id="searchedSubreddit">
  r/{{subreddit}}
</a>
<app-subreddit-post *ngFor="let post of posts"  [subreddit]="post"></app-subreddit-post>
<div *ngIf="posts.length == 0 && showNoPosts" class="empty-result">
  Sorry No Top Posts!
</div>
