<section class="filter-wrapper">
  <div class="keyword-wrapper">
    <input type="text" [formControl]="queryField" id="keyword" placeholder="Search for subreddits..." autofocus/>
  </div>
  <ul *ngIf="showResults" class="filter-select">
    <li *ngFor="let result of results" (click)="search(result.name)" class="filter-select-list">
      <img *ngIf="result.icon !== ''" onerror="this.onerror=null;" [src]="result.icon"  width="50" height="50">
      <img *ngIf="result.icon === '' && result.communityIcon !==''" [src]="result.communityIcon" onerror="return null;" width="50" height="50">
      <p class="subreddit-name">{{result.name}}</p>
      <span class="tags">subs: {{result.numSubscribers}}</span>
    </li>
  </ul>
</section>
