.post {
  background-color: #fffff7;
  align-self: center;
  width: content-box;
  height: fit-content;
  margin: 20px 10%;
  padding: 10px 20px;
  border: solid rgba(197, 197, 197, 0.31);

  &-title {

  }
}
