<div class="post">
  <a class="card-link post-title" [href]="subreddit.url" target="_blank">{{subreddit.title}}</a>
  <h6 class="text-muted card-subtitle mb-2">{{subreddit.author}}</h6>
  <div>
    <img *ngIf="!subreddit.isVideo && image != undefined" class="img-fluid post-image" [src]="image"/>
    <video *ngIf="subreddit.isVideo"
           [src]="subreddit.secureMedia?.reddit_video?.fallback_url" controls></video>
  </div>
  <span class="card-text">ups: {{subreddit.ups}} downs: {{subreddit.downs}}</span>
</div>
